/*  css
    ~ by a ninja
    !haiyah
    */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/curls.png) 0 0 repeat;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-weight: lighter;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 20px solid #0A0A0A;
  align-items: center;
  text-align: center;
}

header#header {
  flex: 3;
  display: flex;
  align-items: baseline;
  width: 50%;
  justify-content: space-between;
}
#header h1 {
  font-family: 'Boogaloo', cursive;
  font-size: 140px;
  font-weight: lighter;
}
#header h2 {
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

footer#footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
footer#footer a {
  color: white;
}

footer#footer .info a {
  text-decoration: none;
}
footer#footer .info a:hover {
  text-decoration: underline;
}
footer#footer .info em {
  font-family: 'Boogaloo', cursive;
  font-style: normal;
}

#content {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.speech-area {
  width: 50%;
  min-width: 480px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: 5px solid white;
  flex: 8;
}

.speech-area p {
  max-width: 300px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 50px;
  clear: both;
  padding: 10px;
  color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: 'Play', sans-serif;
}

.speech-area p.vusa {
  align-self: flex-start;
  background: #DEDEE5;
}
.speech-area p.usah {
  align-self: flex-end;
  background: #1571FE;
  color: white;
}

.mic {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.mic span {
  display: block;
  width: 50px;
  height: 50px;
  /*background: #fff url(images/mic.svg) center center no-repeat;*/
  -webkit-mask:  url(images/mic.svg) no-repeat 50% 50%;
  mask: url(images/mic.svg) no-repeat 50% 50%;
  background-color: black;
  font-size: 0;
  transition: all 0.2s ease-out;
}
.mic:hover {
  background-color: #EBF1FF;
}
.mic:active {
  background-color: #C8F8FF;
}
.mic.on {
  background-color: #EBF1FF;
}
.mic.on span {
  background: #483FFF;
}
